<h3>Create Customer</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">id</label>
      <input type="number" class="form-control" id="id" required [(ngModel)]="id" name="id">
    </div>
 
    <div class="form-group">
      <label for="title">title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="title" name="title">
    </div>
 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>guardado exitoso!</h4>
  <button class="btn btn-success" (click)="newCustomer()">Add</button>
</div>