<!-- <div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>
 
  <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="item">Item</label>
        <input type="text" class="form-control"
          placeholder="Enter content..." id="item"
          required [(ngModel)]="itemValue" name="item">
      </div>
 
      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
 
  <h2>Content</h2>
  <div class="col-md-3">
    <pre *ngFor="let item of items | async">{{item.content}}</pre>
  </div>
 
</div> -->
<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
  </div>
 
  <nav>
    <a routerLink="todo" class="btn btn-primary active" role="button" routerLinkActive="active">todo </a>
    <a routerLink="Crear" class="btn btn-primary active" role="button" routerLinkActive="active"> Crear </a>
    <a routerLink="Listar" class="btn btn-primary active" role="button" routerLinkActive="active"> Listar </a>
  </nav>
  <router-outlet></router-outlet>
</div>
