<div *ngIf="item">
    <div>
      <label>id </label> {{item.id}}
    </div>
    <div>
      <label>title </label> {{item.title}}
    </div>
    <div>
      <label>Active: </label> {{item.active}}
    </div>
   
    <span class="button is-small btn-primary" *ngIf='item.active' (click)='updateActive(false)'>Inactive</span>
   
    <span class="button is-small btn-primary" *ngIf='!item.active' (click)='updateActive(true)'>Active</span>
   
    <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span>
   
    <hr/>
  </div>